<header id="mian-header">
    <h1>
        <a href="/">
            <img height="50" src="/assets/header-logo.png" width="50">
            &nbsp;Pig on a Hill Productions
        </a>
        <a href="{{ site.url }}{% link feed.xml %}" target="_blank" title="Subscribe via RSS">
            <i class="fa fa-rss" id="feed"></i>
        </a>
    </h1>
    <div id="main-site-link">
        <a href="{{ site.main_url }}" title="Back to pigonahill.com">...back to pigonahill.com</a>
    </div>
</header>
