<head>
    {% if site.title and paginator.page > 1 %}
    <title>{{ site.title }} | Blog - Page {{ paginator.page }}</title>
    {% else site.title %}
    <title>{{ site.title }} | Blog</title>
    {% endif %}

    {% if site.description %}
    <meta name='description' content="{{ site.description }}">
    {% endif %}

    <meta charset='utf-8'>
    <meta name='robots', content='index, follow'>
    <meta http-equiv='X-UA-Compatible' contect='IE=edge,chrome=1'>
    <meta name='viewport' content='device-width, initial-scale=1'>

    <!-- IndieWeb References -->
    <link rel='me' href='mailto:james@pigonahill.com'>
    <link rel='me' href='https://github.com/baza207'>
    <link rel='me' href='https://twitter.com/pigonahill'>
    <link rel='me' href='https://micro.blog/pigonahill'>

    <!-- FavIcon References -->
    <link rel='apple-touch-icon' sizes='57x57' href='/assets/favicon/apple-touch-icon-57x57.png'>
    <link rel='apple-touch-icon' sizes='114x114' href='/assets/favicon/apple-touch-icon-114x114.png'>
    <link rel='apple-touch-icon' sizes='72x72' href='/assets/favicon/apple-touch-icon-72x72.png'>
    <link rel='apple-touch-icon' sizes='144x144' href='/assets/favicon/apple-touch-icon-144x144.png'>
    <link rel='apple-touch-icon' sizes='60x60' href='/assets/favicon/apple-touch-icon-60x60.png'>
    <link rel='apple-touch-icon' sizes='120x120' href='/assets/favicon/apple-touch-icon-120x120.png'>
    <link rel='apple-touch-icon' sizes='76x76' href='/assets/favicon/apple-touch-icon-76x76.png'>
    <link rel='apple-touch-icon' sizes='152x152' href='/assets/favicon/apple-touch-icon-152x152.png'>
    <link rel='apple-touch-icon' sizes='180x180' href='/assets/favicon/apple-touch-icon-180x180.png'>
    <link rel='shortcut icon' href='/assets/favicon/favicon.ico'>
    <link rel='icon' type='image/png' href='/assets/favicon/favicon-192x192.png' sizes='192x192'>
    <link rel='icon' type='image/png' href='/assets/favicon/favicon-160x160.png' sizes='160x160'>
    <link rel='icon' type='image/png' href='/assets/favicon/favicon-96x96.png' sizes='96x96'>
    <link rel='icon' type='image/png' href='/assets/favicon/favicon-16x16.png' sizes='16x16'>
    <link rel='icon' type='image/png' href='/assets/favicon/favicon-32x32.png' sizes='32x32'>
    <meta name='msapplication-TileColor' content='#2d89ef'>
    <meta name='msapplication-TileImage' content='/assets/favicon/mstile-144x144.png'>
    <meta name='msapplication-config' content='/assets/favicon/browserconfig.xml'>

    <!-- Stlesheets References -->
    <link rel='stylesheet' type='text/css' href='{{ site.url }}/css/main.css'>
    <link rel="stylesheet" type='text/css' href="{{ site.url }}/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="{{ site.url }}/css/github-code.css">

    <!-- Feed References -->
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feed.xml" />
    <link rel="alternate" type="application/json" title="JSON Feed" href="/feed.json" />

    {% include go-squared.html %}
</head>
